.App-header {
  margin-top: 20px;
  margin-bottom: 20px;
}

.App-header h2 {
  text-align: center;
  margin-top: 20px;
  color: #9157f5;   
}

.App-logo {
  height: 50px;
  width: auto;
  display: block;
  margin: 0 auto;
}

.AppFooter {
  margin-top: 60px;
  padding: 20px;
  font-size: 14px;
  text-align: center;
  background-color: #f9f9f9;
  border-top: 1px solid #ddd;
  color: #444;
}

.AppFooter a {
  color: #007acc;
  text-decoration: none;
  font-weight: 500;
}

.AppFooter a:hover {
  text-decoration: underline;
}