.MeaningSection {
  margin: 30px 0;
  padding: 20px;
  border-left: 4px solid #ccc;
  border: 1px solid #9157f5; 
  background-color: #cebbf0;
  border-radius: 8px;
}

.MeaningSection h3 {
  text-transform: capitalize;
  color: black;
  margin-bottom: 12px;
}

.DefinitionBlock {
  margin-top: 10px;
  padding: 10px;
  background: white;
  border: 1px solid #9157f5; 
  border-radius: 6px;
}

.DefinitionBlock p {
  margin: 4px 0;
}

.SynonymsBlock, .AntonymsBlock {
  margin-top: 12px;
  padding-top: 8px;
  border-top: 1px solid #e0e0e0;
}